html,
body{
  margin:0;
  padding:0;
  height:100%;
  width:100%;
}
header,
main,
footer{
  position: relative;;
  margin:0 auto;
  width:800px;
}
header{
  top:0px;
  height:80px;
  background: lime;
}
.header-div{
  position:absolute;
  top:80%;
  left:0px;
}
.nav-ul{
  position:absolute;
  bottom:0px;
  list-style:none;
}
.nav-ul li{
  float:left;
  font-size:20px;
}
main{
  background: red;
  margin-bottom: 0px;
}
footer{
  height: 60px;
  background: gray;
}
