<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/index_page.css' />
    <!-- <link rel="stylesheet" href="../public/stylesheets/index_page.css"> -->
    <!-- <link rel="stylesheet" href="../public/stylesheets/footer.css"> -->

  </head>
  <body>
    <!-- <a href="/fanbright">share_file</a> -->
    <div class="container">
      <header>
        <img src="images/number_22.jpg" alt="logo" class="weblogo">
        <nav class="nav">
          <ul class="navlist">
            <li>首页</li>
            <li ><a href="/blog">博客</a></li>
            <li>地图</li>
            <li><a href="/fanbright">文件</a></li>
          </ul>
        </nav>
        <div class="login">
        <a type="button" onclick="alert('hh')" class="loginbtn">登陆</a><span>/</span>
        <a type="button" class="loginbtn">注册</span>
        </div>
      </header>
      <main class="maincontent">
        <aside class="aside">
          <ul class="asideul">


          </ul>
        </aside>
        <div class="right_content">
          <article class="CV">
<pre>
            web开发简历
河南人
<strong>范成明</strong>  男  22岁   94年
计算机二级  英语四级
邮箱:	fanbright@126.com
<strong>手机:	15308011744</strong>
博客地址:	http://www.cnblogs.com/iamhenanese/
github地址:	https://github.com/fanbrightup
个人网站:	  http://www.okfcm.win	用于文件分享的网站,使用git部署,ubuntu(新加坡)服务器
          http://www.henanese.top	用于练习高德地图

<hr>
<strong>自学全栈开发</strong>
后端	使用nodejs配合express框架,mongodb/mysql数据库,ubuntu服务器,使用nginx反向代理
前端	使用html5,css3,es6,bootstrap,jquery等来开发

投入最多	 linux    node.js
<hr>
<strong>科学上网</strong>
可以使用ubuntu配合shadowsocks使用digitalocean的vps来搭建ss的服务器
能够使用ipv6,配合shadowsocks免费上教育网
<hr>
<strong>学过的:</strong>
html5	css3	javascript	基本掌握
ECMAscript2015	阮一峰es6入门学了一半左右
ubuntu	从3月开始只使用ubuntu等linux系统来开发学习及日常娱乐,熟练安装各个版本
          的ubuntu及mint系统.熟练ubuntu下开发,配置软件.熟悉常用命令行
git	    基本git工作流在ubuntu下使用,git远程部署网站到ubuntu服务器当中.
nodejs	掌握基本的常用模块,可以在ubuntu服务器中运行nodejs网站
        做过nodejs下的命令行翻译小软件,使用有道api
express框架	可以搭一个一般的网站出来,对express的路由配置等基本掌握
mongodb/mysql	会增删改查,远程连接,配置
canvas  bootstrap  scss	jquery  会简单使用,未深入研究
java	  基本的小程序可以开发,有对面向对象开发的基础,接触过android开发
</pre>
          </article>
        </div>
      </main>
      <footer class="footer">
        <span class="copyinfo">
          版权归fanbright所有2016年
        </span>
      </footer>
    </div>
  </body>
</html>
